@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/appcontroller.js"></script>
</head>
<body>
    <div ng-app="app" ng-controller="appcontroller">
        <table> 
            <thead>
                <tr>
                    <th>User ID </th>
                    <th>Name</th>
                    <th>Postition</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="user in Users">
                    <td>
                        {{user.Id}}
                    </td>
                    <td>
                        <input type="text" style="border:none;text-align:center;" value="{{user.Name}}" ng-model="user.Name" id="txt_{{user.Id}}" readonly></td>
                    <td>
                        {{user.Position}}
                    </td>
                    <td>
                        {{user.Address}}
                    </td>
                    <td>
                        <a ng-click="Delete(user)" href="javascript:">Del</a>
                        <edit ng-model="user"><a ng-show="showEdit" ng-click="toggle()" href="javascript:">Edit</a></edit>
                        <a href="javascript:;" ng-click="Update(user);" ng-show="!showEdit">Update</a>
                        <edit ng-model="user"><a href="javascript:;" ng-show="!showEdit" ng-click="toggle()">Cancel</a></edit>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
